$primary_blue: hsl(223, 87%, 63%);
$secondary_pale_blue: hsl(223, 100%, 88%);
$secondary_light_red: hsl(354, 100%, 66%);
$neutral_gray: hsl(0, 0%, 59%);
$neutral_very_dark_blue: hsl(209, 33%, 12%);

$base_font_size: 2rem;

$min_font_weight: 300;
$mid_font_weight: 600;
$max_font_weight: 700;
